{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h2>{{ article.nom }}</h2>
        <div class="metadata">Publié le 30/11/2021 à 11:31 dans la catégorie {{ article.categorie.titre }}</div>
        <div class="content">

            {% if article.image %}
                    <img src="{{ asset(pathImageArticles ~ article.image ) }}" alt="{{ article.nom }}">
            {% else %}
                <img src="http://placehold.it/350x150" alt="">
                {% endif %}

            {{ article.prix }}
            {{ article.description | raw }}
        </div>
    </article>

    <section id="commentaires">
        {% for avis in article.avis %}
            <div class="avis">
                <div class="row">
                    <div class="col-3">
                        {{avis.auteur}} (<small>
                            {{avis.createdAt | date('d/m/Y à H:i')}}
                        </small>)
                    </div>
                    <div class="col">
                        {{ avis.contenue | raw}}
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
    <article>
{% endblock %}