<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('home') }}">SiteShop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('accueil') }}">Articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('article_create') }}">Créer un article</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('cart_index') }}">Votre panier</a>
                        </li>
                    </ul>
                    <div class="d-flex mx-2">
                        {% if app.user %}
                            <a class="btn btn-light" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i>
                                Deconnexion</a>
                        {% else %}
                            <a class="btn btn-light mx-2" href="{{ path('app_login') }} ">
                                <i class="fas fa-user"></i> Connexion
                            </a>
                            <a href="{{ path('app_register') }}" class="btn btn-light"><i class="fas fa-mouse-pointer"></i>
                                Inscription</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            {% include "_flash_message.html.twig" %}
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
